{%- for item in include.nav -%}
	{% assign page_url = item.url %}
	{% assign pageObj =  site.pages | where_exp:"item","item.path == page_url" | first %}
	{% assign current = "" %}

	{% if page.path == pageObj.path %}
		{%assign current = "active" %}
	{% endif %}

	{%- if item.isChapter -%}
		<li class="chapter" data-level="1.1" data-path="{{site.url}}">
	{%- else -%}
		{%- if item.subnav -%}
			<li class="chapter" data-level="1.2" data-path="{{site.url}}">
		{%- else -%}
			<li class="{{current}}">
		{%- endif -%}
	{%- endif -%}

	{%- if item.url -%}
    	<a href="{{pageObj.id | relative_url l}}" onclick="pageScrollToTop(this)"> {{ pageObj.title }} </a>
        {% if site.toc.enabled %}
            {% if page.url == pageObj.url %}
                {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
            {% endif %}
        {% endif %}
	{%- else -%}
    	<a href="{{site.baseurl}}" onclick="pageScrollToTop(this)"> {{ item.title }} </a>
	{%- endif -%}

	{%- if item.subnav -%}
		<ul>
			{%- include nav.html nav=item.subnav -%}
		</ul>
	{%- endif -%}
	</li>

{%- endfor -%}



